/bin/
/target/
/lib/gson-2.10.1/gson-2.10.1-javadoc/
/lib/Connector J 8.0/CHANGES/
/lib/Connector J 8.0/INFO_BIN/
/lib/Connector J 8.0/INFO_SRC/
/lib/imgscalr-lib-4.2/javadoc/
/options.json/
/playerdata.json/